.card {
  padding: 20px;
  background-color: $base-white;
}

.card__img {
  display: block;
  margin: 0 auto;
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
}

.card__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.card__link {
  display: inline-block;
  position: relative;
  color: $base-white;
  background-color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 20px 8px 46px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    left: 20px;
    top: 0;
    bottom: 0;
    background-image: url("../../images/icons/stack.svg#card-basket");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    background-color: $primary-lighter;
  }

  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }
}

.card__link--disablet {
  background-color: $base-grey;

  &:hover,
  &:focus,
  &:active {
    background-color: $base-grey;
  }
}
