// .catalog {}

.catalog__title {
  color: $base-primary;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.catalog__promo {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.catalog__ist {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .catalog__ist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__promo {
    font-size: 42px;
    line-height: 64px;
  }

  .catalog__ist {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .catalog__wrapper {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 30px;
  }
}
