.features {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 27px;
}

.features__title {
  color: $base-primary;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.features__promo {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  margin: 0;
}

.features__list {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  padding-top: 60px;
  margin-bottom: 32px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 52px;
    height: 56px;
    top: 0;
    left: calc(50% - 28px);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.features__item--speed::before {
  background-image: url("../../images/icons/stack.svg#icon-speed");
}

.features__item--convenience::before {
  background-image: url("../../images/icons/stack.svg#icon-convenience");
}

.features__item--cheerfulness::before {
  background-image: url("../../images/icons/stack.svg#icon-cheerfulness");
}

.features__item--ecology::before {
  background-image: url("../../images/icons/stack.svg#icon-ecology");
}

.features__sup-title {
  margin-top: 11px;
  margin-bottom: 11px;
  letter-spacing: 0.1em;
}

.features__text {
  margin: 0;
  letter-spacing: 0.06em;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 4px;
    padding-bottom: 81px;
  }

  .features__promo {
    font-size: 42px;
    line-height: 64px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 63px;
    padding: 0 10px;
    gap: 30px;
    text-align: left;
  }

  .features__item {
    padding-top: 0;
    padding-left: 70px;
    margin-bottom: 18px;

    &::before {
      top: 0;
      left: 0;
    }
  }

  .features__sup-title {
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 9px;
    letter-spacing: 0.06em;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 100px;
    padding-bottom: 102px;
  }

  .features__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 80px;
    text-align: center;
    gap: 47px;
  }

  .features__item {
    padding-top: 75px;
    padding-left: 0;

    &::before {
      top: 0;
      left: calc(50% - 28px);
    }
  }
}
