.footer {
  padding-top: 4px;
}

.footer__container {
  display: block;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer__social-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.footer__list-wrapper {
  border-top: 2px solid $base-secondary;
  padding-top: 7px;
  padding-bottom: 10px;
}

.footer__title {
  color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 17px;
  letter-spacing: 0.1em;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-black;
  letter-spacing: 0.1em;
}


@media (min-width: $tablet-width) {
  .footer {
    width: 728px;
    padding: 0 20px;
    padding-top: 23px;
    margin: 0 auto;
  }

  .footer__container {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .footer__lists-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4px;
  }

  .footer__list-wrapper {
    border-top: none;
  }

  .footer__list-wrapper--media {
    margin-left: 30px;
  }

  .footer__title {
    margin-bottom: 15px;
  }

  .footer__list-item {
    margin-bottom: 12px;
  }

  .footer__list-link {
    &:hover {
      color: $primary-lighter;
    }

    &:focus {
      color: $primary-lighter;
    }

    &:active {
      color: $primary-darker;
    }
  }
}


@media (min-width: $desktop-width) {
  .footer {
    width: 1360px;
    padding: 0 40px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__title {
    margin-top: 10px;
  }

  .footer__social-wrapper {
    flex-direction: column;
  }

  .footer__lists-wrapper {
    margin-left: auto;
    gap: 30px;
  }

  .footer__list-wrapper {
    width: 317px;
  }

  .footer__list-wrapper--media {
    margin: 0;
  }

  .footer__list-wrapper--copyright {
    width: 100%;
    padding-top: 5px;
  }
}
