.map_wrapper {
  position: relative;
  min-height: 420px;
}

.map__yandex {
  height: 420px;
}

.map__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 420px;
  text-align: center;

  position: absolute;
  z-index: -1;
  top: 0;
}

@media (min-width: $tablet-width) {
  .map_wrapper {
    min-height: 480px;
  }

  .map__yandex {
    height: 480px;
  }

  .map__image {
    height: 480px;
  }
}

@media (min-width: $desktop-width) {
  .map_wrapper {
    min-height: 540px;
  }

  .map__yandex {
    height: 540px;
  }

  .map__image {
    height: 540px;
  }
}
