.page {
  height: 100%;
}

.page__body {
  margin: 0;
  background-color: $base-white;
  color: $base-black;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page__slogan {
  display: none;
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page__slogan {
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.08em;
    width: 150px;
    margin: 0;
    margin-top: 15px;
    margin-left: 21px;
  }

  .page__slogan--footer {
    width: auto;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 49px;
    font-size: 14px;
    line-height: 20px;
  }
}
